body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p, li {
  font-size: 16px;
}

.app {
  width: 60%;
  margin: 0 auto;
  padding: 12px 12px 28px 12px;
}

.header {
  padding-bottom: 22px;
}

.header a {
  color: #333;
  margin: 0px;
  font-size: 36px;
  text-decoration: none;
}

.headerLinksOut a {
  font-size: 20px;
  font-weight: bold;
  word-spacing: 10px;
  text-decoration: line-through;
}

.headerLinksOut a:hover {
  text-decoration: underline;
}

.headerFooter {
  border-bottom: 3px solid #000;
}

.blogListBox { }

.blogListItemLeft {
  padding-top: 5px;
}

.blogListItemLeft .row {
  margin: 0px;
  padding: 0px;
}

.blogListItemLeft .date {
  font-size: 16px;
}

.blogListItemLeft .emoticon {
  font-size: 22px;
}

.blogListItemRight .title {
  font-size: 18px;
}

.blogListItemRight .summary {

}

.blogEntry h1, h2, h3 {
  margin-top: 0px;
  font-weight: bold;
}

.blogEntry h2, h3 {
  margin-top: 20px;
}

.blogEntry h1 {
  font-size: 22px;
}

.blogEntry h2 {
  font-size: 18px;
}

.blogEntry h3 {
  font-size: 14px;
}

.blogEntryBox { }

.blogEntry img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
